VERSION=3.1.6

DATAROOTDIR="/usr/share"
SYSCONFDIR="/etc"
LOCALSTATEDIR="/var"

# Default directories (file "${FIREHOL_CONFIG_DIR}/firehol.defaults" overrides)
FIREHOL_CONFIG_DIR="$SYSCONFDIR/firehol"
FIREHOL_SERVICES_DIR="$SYSCONFDIR/firehol/services"
FIREHOL_SHARE_DIR="$DATAROOTDIR/firehol"
FIREHOL_SPOOL_DIR="$LOCALSTATEDIR/spool/firehol"
FIREHOL_RUN_DIR="$LOCALSTATEDIR/run/firehol"

ENABLE_IPV4=1
ENABLE_IPV6=1

BASENAME_CMD="/usr/bin/basename"
BRIDGE_CMD="/sbin/bridge"
CAT_CMD="/bin/cat"
CHMOD_CMD="/bin/chmod"
CHOWN_CMD="/bin/chown"
CP_CMD="/bin/cp"
CURL_CMD="usr/bin/curl"
CUT_CMD="/usr/bin/cut"
DATE_CMD="/bin/date"
DIFF_CMD="/usr/bin/diff"
DIRNAME_CMD="/usr/bin/dirname"
DOT_CMD=""
EGREP_CMD="/bin/egrep"
ENV_CMD="/usr/bin/env"
EXPR_CMD="/usr/bin/expr"
FIND_CMD="/usr/bin/find"
FLOCK_CMD="/usr/bin/flock"
FOLD_CMD="/usr/bin/fold"
FUNZIP_CMD=""
JQ_CMD=""
GAWK_CMD="/usr/bin/gawk"
GIT_CMD=""
GREP_CMD="/bin/grep"
HEAD_CMD="/usr/bin/head"
HOSTNAME_CMD="/bin/hostname"
IP6TABLES_CMD="/usr/sbin/ip6tables"
IP6TABLES_RESTORE_CMD="/usr/sbin/ip6tables-restore"
IP6TABLES_SAVE_CMD="/usr/sbin/ip6tables-save"
IP_CMD="/sbin/ip"
IPRANGE_CMD="/usr/bin/iprange"
IPSET_CMD=""
IPTABLES_CMD="/usr/sbin/iptables"
IPTABLES_RESTORE_CMD="/usr/sbin/iptables-restore"
IPTABLES_SAVE_CMD="/usr/sbin/iptables-save"
JQ_CMD=""
LN_CMD=""
LOGGER_CMD="/usr/bin/logger"
LS_CMD="/bin/ls"
LSMOD_CMD="/bin/lsmod"
MKDIR_CMD="/bin/mkdir"
MKTEMP_CMD="/bin/mktemp"
MODPROBE_CMD="/sbin/modprobe -q"
MORE_CMD="/bin/more"
MV_CMD="/bin/mv"
NEATO_CMD=""
NFACCT_CMD=""
PING6_CMD="/bin/ping6"
PING_CMD="/bin/ping"
READLINK_CMD="/usr/bin/readlink"
RENICE_CMD="/usr/bin/renice"
RMMOD_CMD="/sbin/rmmod"
RM_CMD="/bin/rm"
SCREEN_CMD=""
SED_CMD="/bin/sed"
SEQ_CMD="/usr/bin/seq"
SH_CMD="/bin/sh"
SLEEP_CMD="/bin/sleep"
SORT_CMD="/usr/bin/sort"
SS_CMD=""
STTY_CMD="/bin/stty"
SYSCTL_CMD="/sbin/sysctl"
TAIL_CMD="/usr/bin/tail"
TAR_CMD="/bin/tar"
TCPDUMP_CMD="/usr/sbin/tcpdump"
TC_CMD="/sbin/tc"
TOUCH_CMD="/bin/touch"
TPUT_CMD="/usr/bin/tput"
TRACEROUTE_CMD="/usr/bin/traceroute"
TR_CMD="/usr/bin/tr"
UNAME_CMD="/bin/uname"
UNIQ_CMD="/usr/bin/uniq"
UNZIP_CMD="/usr/bin/unzip"
WC_CMD="/usr/bin/wc"
WGET_CMD="/usr/bin/wget"
WHOIS_CMD=""
ZCAT_CMD="/bin/zcat"
